{% extends "base.html" %}

{% block title %}
Dodawanie osób
{% endblock %}

{% block content %}
<h3> Formularz dodawania nowego kontaktu</h3>
<form action="#" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="f_name">Imię:</label>
    <input type="text" id="f_name" name="first_name" maxlength="64" required>
    <label for="l_name">Nazwisko:</label>
    <input type="text" id="l_name" name="last_name" maxlength="64" required><br>
    <label for="desc">Dodatkowy opis:</label>
    <textarea id="desc" name="description" maxlength="250" rows="5" cols="50"></textarea><br>
    <labe for="address">Adress (opcjonalnie):</labe>
    <select class="form-control" id="address" name="recipe" id="recipe">
        {% for address in addresses %}
            <option name="address" value="{{address.id}}">
                {{ address.city }}; {{address.street}} {{address.house_no}}, lokal: {{address.local_no}}
            </option>
        {% empty %}
        {% endfor %}
    </select><br>
    <a href="{% url 'add_address' %}">Dodaj nowy adres</a><br>
    <label for="zdjecie">Zdjęcie:</label>
    <input type="file" id="zdjecie" name="photo">
    <input type="submit" value="Zapisz">
</form>
{% endblock %}