{% extends "base.html" %}

{% block title %}
Add adress
{% endblock %}

{% block content %}
<h3> Formularz dodawania nowego adresu</h3>
<form>
    <label for="city_id">Miejscowość</label>
    <input type="text" id="city_id" name="city" maxlength="64" required><br>
    <label for="street_id">Ulica:</label>
    <input type="text" id="street_id" name="street" maxlength="64" required><br>
    <label for="house_id">Numer domu:</label>
    <input type="text" id="house_id" name="house_no" maxlength="8" required><br>
    <label for="local_id">Numer mieszkania</label>
    <input type="text" id="local_id" name="local_no" maxlength="8"><br>
    <label for="postal_id">Kod Pocztowy</label>
    <input type="text" id="postal_id" name="postal_code" maxlength="6" required>
</form>
{% endblock %}