{% extends "base.html" %}

{% block title %}
Detale użytkownika
{% endblock %}

{% block content %}
    <img src="{{person.photo.url}}">
    <p>Imię: {{ person.first_name }}</p>
    <p>Nazwisko: {{ person.last_name}}</p>
    <p>Opis:</p>
    <textarea readonly="readonly" cols="50" rows="10">{{ person.description }}</textarea>
    <div>
        Adress:
        {% if address %}
        <p>Miasto: {{ address.city }}</p>
        <p>Ulica: {{ address.street }}</p>
        <p>Numer domu: {{ address.house_no }}</p>
        <p>Numer lokalu: {{ address.local_no }}</p>
        <p>Kod pocztowy: {{ address.postal_code }}</p>
        {% else %}
        Nie podano adresu.
        {% endif %}
    </div>
    {% if phones %}
    <ol>Phones:
        {% for phone in phones %}
        <li>{{ phone.number }} - {{ phone.get_type_display }} </li>
        {% endfor %}
    </ol>
    {% else %}
    <p> Brak numeru telefonu</p>
    {% endif %}
    <a href="{% url 'add_phone' person_id=person.id %}">Dodaj nowy numer telefonu</a>
        {% if emails %}
    <ol>Emails:
        {% for email in emails %}
        <li>{{ email.email }} - {{ email.get_type_display }} </li>
        {% endfor %}
    </ol>
    {% else %}
    <p>Brak emaila</p>
    {% endif %}
    <a href="{% url 'add_email' person_id=person.id %}">Dodaj nowy e-mail</a>
    {% if groups %}
    <p>Należy do grup:</p>
    <ul>
        {% for group in groups %}
        <li><a href="{% url 'groups_detail' group_id=group.id">{{ group.name }}</a> </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}